/DemoDirectMvcBackend/app/*.js
/DemoDirectMvcBackend/app/*.map
/DemoDirectMvcBackend/Temp/
/DemoDirectMvcBackend/bin/
/DemoDirectMvcBackend/obj/
/DemoDirectMvcBackend/node_modules/
/DemoDirectMvcBackend/Content/rsolap/css
/DemoDirectMvcBackend/Content/rsolap/images
/DemoDirectMvcBackend/Content/rsolap/*.js
/packages/